fastapi[all]
python-multipart
uvicorn[standard]
beautifulsoup4
odfpy
python-docx
pypdf2
scikit-learn
numpy
google-genai
selenium
webdriver-manager
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
rank-bm25
stanza
requests
lxml
tqdm